---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

		<ViewTransitions />
	</head>
	<body class="text-text-dark-secondary font-sans">
		<main class="max-w-[1200px] mx-auto p-4">
			<slot />
		</main>
	</body>
</html>
